.login-panel.sliding-panel
	.login-panel-close.js-sliding-panel-close
		+icon({"name": "close"})

	.login-panel-section.background-greyscale-100
		h1.margin-bottom-3 Remember your saved properties for next time.
		p.text-4.text-greyscale-700 Sign up to speed up your property search. No spam, promise!

	.login-panel-section

		.margin-bottom-5.button.button-facebook.button-block.button-large Sign up with Facebook
		.margin-bottom-5
			.or-divider
		form.margin-bottom-4
			.margin-bottom-2
				.columns.gutter-2
					.columns-6.no-margin
						input(type="text" placeholder="First name")
					.columns-6.no-margin
						input(type="text" placeholder="Last name")

			.margin-bottom-2
				input(type="email" placeholder="Email address")

			.margin-bottom-2
				input(type="password" placeholder="Password")

			.button.button-brand.button-block.button-large Sign up



		p.text-center.text-2.text-greyscale-500.max-width-300.margin-auto By clicking on ‘sign up’, you agree to our Terms and Conditions and Privacy Policy.


		.text-center.border-top-light.padding-top-5.margin-top-5
			.text-2 Already have an account? Login