@include helpers("button-block", "display: block");

button, .button {
	@include uppercase(0.1em);
	appearance: none;
	height: 45px;
	line-height: 47px;
	font-size: 13px;
	cursor: pointer;
	background-color: white;
	text-align: center;
	border: 1px solid colors("keylines", "dark");
	
	border-radius: 2px;
	font-weight: 500;
	display: inline-block;
	vertical-align: middle;
	padding: 0 sizes(5);
	transition: all .25s;

	&.button-brand {
		background-color: colors("brand");
		color: white;
		font-weight: 600;
		border: 0;
		&:hover {
			background-color: darken(colors("brand"), 50%);
		}
	}

	svg {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		top: -2px;
	}

	&.button-block {
		width: 100%;
		display: block;
	}

	&.button-facebook {
		background-color: colors("social", "facebook");
		color: white;
		font-weight: 600;
		border: 0;

		&:hover {
			background-color: darken(colors("social", "facebook"), 20%);
		}
	}

	&.button-left {
		text-align: left;
	}

	&.button-lowercase {
		text-transform: none;
		letter-spacing: 0;
		font-size: 16px;
	}

	

	&.button-small {
		font-size: 15px;
		height: 40px;
		line-height: 40px;
		padding: 0 sizes(5);
	}

	&.button-large {
		font-size: 16px;
		height: 50px;
		line-height: 52px;
		padding: 0 sizes(7);
	}

	&:visited {
		color: white;
	}
}